@font-face {
    font-family: Lato;
     src: url("assets/fonts/Lato-Light.ttf");
   }
   @font-face {
    font-family: Lato;
     src: url("assets/fonts/Lato-LightItalic.ttf");
   }
   @font-face {
    font-family: Lato;
     src: url("assets/fonts/Lato-Bold.ttf");
   }
   :root {
    --block-color: #A2B564;
    --text-color: #3F4738;
    --line-color: #928975;
    --background-color: #FFFFF3;
   }
   * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Lato-Light, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    
  }
  .header{
    background-color: var(--background-color);  
  }
  .box {
    max-width: 650px;
    margin: 0 auto;
    min-height: 50px;
  }
  .header-box-menu{
    min-height: 60px;
  }
  .menu-item{
    border-bottom: 2px solid #A2B564;
  }
  .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .menu-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 50px;
    color: var(--block-color); 
  }
  .menu-link::before {
    content: "";
    position: absolute;
    left: 12px;
    bottom: 30px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: var(--block-color);
    opacity: 0;
    transition: .5s;
  }
  .menu-link:hover::before {
    opacity: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  
  .head-title {
    color: var(--block-color);
    font-style: normal;
  }
  .section-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex-direction: row;
    align-items: center; 

  }
  
  .section-head-photo {
    width: 100px;
    height: 160px;
    justify-content: center; 
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0 0 10px var(--line-color);
    filter: grayscale(0.4);
    margin-left: 50px;
  }
  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-top: 2px solid var(--line-color);

  }
  h2{
     color: var(--line-color);
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
  }
.footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 1100px;
    font-size: 14px;
    color: #A2B564;
    border-top: 2px solid var(--block-color);
}
  @media (max-width: 780px) {
    .section {
      width: 100%;
    }
  }